<div class="modal-content">
  <div class="modal-header">
    <div class="row" style="width: 100%;">
      <div class="col-9 d-flex justify-content-start">
        <h4 id="selected-title" class="modal-title">{{modalData=='new'?'Nuevo':(modalData=='edit'?'Editar':'Clonar')}}
          programa</h4>
      </div>
    </div>
  </div>

  <form id="userForm" class="form" [formGroup]="dynamicForm">
    <div class="modal-body ">
      <!--Row 1-->
      <div class="row d-flex justify-content-between">
        <div class="col-8 justify-content-center form-group">
          <label for="Nombre">Nombre</label>
          <input placeholder="Nombre" class="form-control" formControlName="Nombre" autocomplete="off" type="text">
          <small class="form-text text-muted">Es requerido</small>
        </div>
        <div class="col-4 justify-content-center form-group">
          <label for="EntidadOperativa">Entidad operativa</label>
          <select class="custom-select" formControlName="IdEntidadOperativa"
            error-msg="La entidad operativa es requerida">
            <option value>Selecciona una opción</option>
            <ng-container *ngIf="(catalogService.getCatalog('entidades-operativas') | async) as catalog">
              <option *ngFor="let item of catalog" [value]="item.Clave">{{item.Nombre}}</option>
            </ng-container>
          </select>
          <small class="form-text text-muted">Es requerido</small>
        </div>
      </div>
      <!--Row 2-->
      <div class="row d-flex justify-content-between">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <div>
            <input type="checkbox" class="form-check-input" formControlName="Activo">
            <label class="form-check-label">Activo</label>
          </div>
        </div>
        <div class="col-4 justify-content-center form-group">
          <label for="FechaInicio">Fecha inicial</label>
          <input placeholder="Fecha inicio" formControlName="FechaInicio" class="form-control" autocomplete="off"
            autocomplete="off" [dpDayPicker]="config" [theme]="'dp-material dp-main'">
          <small class="form-text text-muted">Es requerido</small>
        </div>
        <div class="col-4 justify-content-center form-group">
          <label for="FechaFin">Fecha final</label>
          <input placeholder="Fecha final" formControlName="FechaFin" class="form-control" autocomplete="off"
            autocomplete="off" [dpDayPicker]="config" [theme]="'dp-material dp-main'">
          <small class="form-text text-muted">{{c['FechaFin'].errors?.required?'Es requerido':'Debe ser posterior a la fecha de inicio' }}</small>
        </div>
      </div>
      <!--Row 3-->
      <div class="row d-flex justify-content-between">
        <div class="col-12 justify-content-center mb-1">
          <label for="Nombre">Descripción</label>
          <textarea placeholder="Descripción" class="form-control" formControlName="Descripcion" style="resize: none;"
            rows="4"></textarea>
          <small class="form-text text-muted">Es requerido</small>
        </div>
      </div>
      <tabs>
        <tab [tabTitle]="'Parametros'">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-4 justify-content-center form-group">
              <label for="EntidadOperativa">Tipo beneficiario</label>
              <select class="custom-select" formControlName="IdTipoBebeficiario"
                error-msg="La entidad operativa es requerida">
                <option value>Selecciona una opción</option>
                <ng-container *ngIf="(catalogService.getCatalog('tipos-beneficiario') | async) as catalog">
                  <option *ngFor="let item of catalog" [value]="item.Clave">{{item.Nombre}}</option>
                </ng-container>
              </select>
              <small class="form-text text-muted">Es requerido</small>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
              <div>
                <input type="checkbox" class="form-check-input" formControlName="PersonaMoral">
                <label class="form-check-label">Persona moral</label>
              </div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
              <div>
                <input type="checkbox" class="form-check-input" formControlName="DigramaYucatan">
                <label class="form-check-label">Diagrama Yucatán</label>
              </div>
            </div>
          </div>
        </tab>
        <tab [tabTitle]="'Beneficios'">
          <div [formGroupName]="'Beneficios'" class="form d-flex flex-column align-items-end">
            <button class="btn  btn-outline-primary mb-2" (click)="addBeneficio()">Agregar beneficio</button>
            <ng-container *ngFor="let item of beneficiosFormArr; index as i">
              <div [formGroup]="item" class="card flex-fill flex-grow-1 w-100 mb-1">
                <div class="card-body">
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-6 justify-content-center form-group">
                      <label for="Nombre">Beneficio</label>
                      <input placeholder="Nombre" class="form-control" formControlName="Nombre" autocomplete="off"
                        type="text">
                      <small class="form-text text-muted">Es requerido</small>
                    </div>
                    <div class="col-2 justify-content-center form-group">
                      <label for="Cantidad">Cantidad</label>
                      <input placeholder="Cantidad" class="form-control" formControlName="Cantidad" autocomplete="off"
                        type="number" min="1">
                      <small class="form-text text-muted">Es requerido</small>
                    </div>
                    <div class="col-4 justify-content-center form-group">
                      <label for="IdUnidadMedida">Unidad de medida</label>
                      <select class="custom-select" formControlName="IdUnidadMedida">
                        <option value>Selecciona una opción</option>
                        <ng-container *ngIf="(catalogService.getCatalog('unidad-medida') | async) as catalog">
                          <option *ngFor="let item of catalog" [value]="item.Clave">{{item.Nombre}}</option>
                        </ng-container>
                      </select>
                      <small class="form-text text-muted">Es requerido</small>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-3 justify-content-center form-group">
                      <label for="Valor">Valor</label>
                      <input placeholder="Valor" class="form-control" formControlName="Valor" autocomplete="off"
                        type="number" min="1">
                      <small class="form-text text-muted">Es requerido</small>
                    </div>
                    <div class="col-3 justify-content-center form-group">
                      <label for="IdTipoDistribucion">Tipo de distribución</label>
                      <select class="custom-select" formControlName="IdTipoDistribucion">
                        <option value>Selecciona una opción</option>
                        <ng-container *ngIf="(catalogService.getCatalog('tipo-distribucion') | async) as catalog">
                          <option *ngFor="let item of catalog" [value]="item.Clave">{{item.Nombre}}</option>
                        </ng-container>
                      </select>
                      <small class="form-text text-muted">Es requerido</small>
                    </div>
                    <div class="col-3 justify-content-center form-group">
                      <label for="IdTipoBeneficio">Tipo de beneficio</label>
                      <select class="custom-select" formControlName="IdTipoBeneficio">
                        <option value>Selecciona una opción</option>
                        <ng-container *ngIf="(catalogService.getCatalog('tipo-beneficio') | async) as catalog">
                          <option *ngFor="let item of catalog" [value]="item.Clave">{{item.Nombre}}</option>
                        </ng-container>
                      </select>
                      <small class="form-text text-muted">Es requerido</small>
                    </div>
                    <div class="col-3 justify-content-center form-group">
                      <label for="IdTipoRecurso">Tipo de recurso</label>
                      <select class="custom-select" formControlName="IdTipoRecurso">
                        <option value>Selecciona una opción</option>
                        <ng-container *ngIf="(catalogService.getCatalog('tipo-recurso') | async) as catalog">
                          <option *ngFor="let item of catalog" [value]="item.Clave">{{item.Nombre}}</option>
                        </ng-container>
                      </select>
                      <small class="form-text text-muted">Es requerido</small>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center align-items-center">
                    <button class="btn btn-link col-2 simple hover" (click)="removeBeneficio(i)">
                      Remover
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </tab>
        <tab *ngIf="authorizationService.isValid([{ grant: 'PPermisos', aux: extraData?.Clave }, 'administracion.programas']) | async" [tabTitle]="'Usuarios'">
          <div [formGroupName]="'UsuarioConfiguracionProgramas'"
            class="d-flex flex-column align-items-end flex-grow-1 w-100">
            <input placeholder="Buscar usuario" class="search form-control mb-1 col-4" type="text" autocomplete="off"
              [formControl]="searchRolFormControl">
            <table class="table">
              <thead>
                <th style="width:10%"></th>
                <th style="width:20%">Usuario</th>
                <th style="width:30%">Nombre</th>
                <th style="width:30%">Entidad operativa</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of usersFormArr">
                  <tr *ngIf="item.item" [formGroup]="item" [ngClass]="{'hidden': (!shouldDisplayRolUsuario(item.item))}"
                    class="list">
                    <td>
                      <label class="small">
                        <input class="custom-select" formControlName="IdUsuario" type="text" class="hidden role-item" />
                        <input class="custom-select" formControlName="Activo" type="checkbox" class="role-item" />
                        <span></span>
                      </label>
                    </td>
                    <td>{{item.item?.Usuario}}</td>
                    <td>{{item.item?.Nombre}} {{item.item?.Apaterno}} {{item.item?.Amaterno}}</td>
                    <td>
                      <ng-container
                        *ngIf="(catalogService.getCatalogValue('entidades-operativas', item.item?.IdEntidadOperativa) | async) as entidad">
                        {{entidad.Nombre}}
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </tab>
        <tab *ngIf="authorizationService.isValid([{ grant: 'PPermisos', aux: extraData?.Clave }, 'administracion.programas']) | async" [tabTitle]="'Permisos'">
          <div [formGroupName]="'UsuarioConfiguracionProgramas'" class="d-flex flex-column align-items-end">
            <table class="table">
              <thead>
                <th style="width:20%">Usuario</th>
                <th style="width:10%">Permisos</th>
                <th style="width:10%">Consulta</th>
                <th style="width:10%">Edición</th>
                <th style="width:10%">Estatus</th>
                <th style="width:10%">Desactivar</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of usersFormArr">
                  <tr *ngIf="item.value?.Activo" class="list" [formGroup]="item">
                    <td>
                      <input class="custom-select" formControlName="IdUsuario" type="text" class="hidden role-item" />
                      <ng-container
                        *ngIf="(catalogService.getCatalogValue('Usuarios:'+item.value.IdUsuario, item.value.IdUsuario) | async) as usuario">
                        {{usuario.Usuario}}
                      </ng-container>
                    </td>
                    <td><input formControlName="PPermisos" class="custom-select" type="checkbox" class="" /></td>
                    <td><input formControlName="PConsulta" class="custom-select" type="checkbox" class="" /></td>
                    <td><input formControlName="PEdicion" class="custom-select" type="checkbox" class="" /></td>
                    <td><input formControlName="PEstatus" class="custom-select" type="checkbox" class="" /></td>
                    <td><input formControlName="PDesactivar" class="custom-select" type="checkbox" class="" /></td>
                  </tr>
                </ng-container>

              </tbody>
            </table>
          </div>
        </tab>
      </tabs>
      <div class="modal-footer w-100">
        <a class="btn btn-light" (click)="modalService.close(this)">Cerrar</a>
        <button class="btn btn-primary" type="submit" [ngClass]="{'btn-warning': dynamicForm.status=='INVALID'}"
          (click)="save()">Guardar</button>
      </div>
    </div>
  </form>

</div>