<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Filtros de búsqueda</h5>
  </div>
  <div class="modal-body">
    <form id="filterForm" class="form row" [formGroup]="dynamicForm">
      <div class="form-group col-6" *ngFor="let control of extraData.fields" [ngSwitch]="control.type">
        <label for="{{control.id}}">{{control.label}}</label>

        <select class="form-control form-control-sm" *ngSwitchCase="'select'" [id]="control.id" formControlName="{{control.id}}">
          <option value>Selecciona una opción</option>
          <ng-container *ngIf="control.content as catalog">
            <option *ngFor="let item of control.content" [value]="item.Clave">{{item.Nombre}}</option>
          </ng-container>
          <ng-container *ngIf="control.catalog as catalogName">
            <ng-container *ngIf="(catalogService.getCatalog(catalogName) | async) as catalog">
              <option *ngFor="let item of catalog" [value]="item.Clave">{{item.Nombre}}</option>
            </ng-container>
          </ng-container>
        </select>

        <input class="form-control form-control-sm" *ngSwitchCase="'input'" autocomplete="off" [id]="control.id" formControlName="{{control.id}}">
        <input class="form-control form-control-sm" *ngSwitchCase="'date'" autocomplete="off" [dpDayPicker]="config" [theme]="'dp-material dp-main'" [id]="control.id" formControlName="{{control.id}}">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalService.close(this)">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Guardar</button>
  </div>
</div>