<ngx-datatable class="bootstrap"
[rows]="_rows" 
[columns]="_columns" 
[columnMode]="ColumnMode.force"
[headerHeight]="50"
[footerHeight]="50"
[virtualization]="false"
rowHeight="auto"
[scrollbarV]="true"
[scrollbarH]="true"
[externalPaging]="true"
[count]="page.totalElements"
[offset]="page.pageNumber"
[limit]="page.size"
(page)="setPage($event)"
[selectionType]="SelectionType.single"
(activate)="onActivate($event)"
(select)="onSelect($event)"
[externalSorting]="true"
[loadingIndicator]="loading"
(sort)="onSort($event)"
> </ngx-datatable>

<ng-template #activoCell let-row="row" let-value="value">
  {{value ? 'si' : 'no'}}
</ng-template>

<ng-template #selectorCell let-row="row" let-column="column" let-value="value">
  <select [ngModel]="value" disabled="{{authorizationService.isInvalid(column.grant(row)) | async}}" (change)='column.handler($event, row)' class="form-control form-control-sm">
    <ng-container *ngIf="(catalogService.getCatalog(column.catalog) | async) as catalog">
      <option *ngFor="let item of catalog" [selected]="item.Clave==value" [value]="item.Clave">{{item.Nombre}}</option>
    </ng-container>
  </select>
</ng-template>