<app-header [title]="'Programas'"></app-header>
<app-toolbar [buttons]="buttons" [enableSearch]="true" [enableSearchFilters]="true"
  [searchFiltersCount]="searchFiltersCount" (action)="handleAction($event)" (search)="handleSearch($event)">
</app-toolbar>
<app-table (paging)="handlePaging($event)" (selected)="handleSelected($event)" [rows]="rows" [columns]="columns"
  [loading]="loading" [totalRows]="totalRows"></app-table>
<app-modal id="filters-prog" [dynComponent]="filtersModalComponent"></app-modal>
<app-modal id="new-prog" [dynComponent]="programaModalComponent" [modalData]="'new'"></app-modal>
<app-modal id="edit-prog" [dynComponent]="programaModalComponent" [modalData]="'edit'"></app-modal>
<app-modal id="config-prog" [dynComponent]="programaConfigModalComponent"></app-modal>
<app-modal id="clone-prog" [dynComponent]="programaModalComponent" [modalData]="'clone'"></app-modal>
<app-modal id="export-prog" [dynComponent]="confirmModalComponent"
  [modalData]="{title:'Exportar', message: '¿Desea exportar la busqueda actual?'}"></app-modal>
<app-modal id="delete-prog" [dynComponent]="confirmModalComponent"
  [modalData]="{title:'Desactivar', message: '¿Desea desactivar el item seleccionado?'}"></app-modal>
  <app-modal id="change-status-prog" [dynComponent]="confirmModalComponent"
  [modalData]="{title:'Cambio de estatus', message: '¿Desea cambiar el estatus del item seleccionado?'}"></app-modal>