<ul class="nav nav-tabs">
  <li *ngFor="let tab of tabs" (click)="selectTab(tab)" class="nav-item">
    <a class="waves-effect waves-light margin nav-link pointer" [ngClass]="tab.active? 'active' : 'hover simple'">{{tab.title}}</a>
  </li>
</ul>
<ng-content></ng-content>