<div class="jw-modal" #modalCont>
  <div class="jw-modal-body">
      <ng-content></ng-content>
      <ng-template #modalHost></ng-template>
  </div>
</div>
<div class="jw-modal-background" #modalBack></div>