:host {
  display: none;
  color: #001a68;
  font-family: "Source Sans Pro";
  .jw-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 901;
    overflow: auto;
    .jw-modal-body {
      background: #fff;
      margin: 40px;
      border-radius: 0.3rem;
    }
  }

  .jw-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.149);
    z-index: 900;
  }
}

body.jw-modal-open {
  overflow: hidden;
}
