<app-header [title]="'Administración'"></app-header>
<app-toolbar [buttons]="buttons" [enableSearch]="true" [enableSearchFilters]="true" [tabs]="tabs"
  [searchFiltersCount]="searchFiltersCount"  (action)="handleAction($event)" (search)="handleSearch($event)"></app-toolbar>
<app-table (paging)="handlePaging($event)" (selected)="handleSelected($event)" [rows]="rows" [columns]="columns" [loading]="loading" [totalRows]="totalRows"></app-table>
<app-modal id="filters-user" [dynComponent]="filtersModalComponent"></app-modal>
<app-modal id="new-user" [dynComponent]="usuarioModalComponent" [modalData]="'new'"></app-modal>
<app-modal id="edit-user" [dynComponent]="usuarioModalComponent" [modalData]="'edit'"></app-modal>
<app-modal id="clone-user" [dynComponent]="usuarioModalComponent" [modalData]="'clone'"></app-modal>
<app-modal id="export-user" [dynComponent]="confirmModalComponent" 
  [modalData]="{title:'Exportar', message: '¿Desea exportar la busqueda actual?'}"></app-modal>
<app-modal id="delete-user" [dynComponent]="confirmModalComponent"
[modalData]="{title:'Desactivar', message: '¿Desea desactivar el item seleccionado?'}"></app-modal>