<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Cambiar contraseña</h4>
  </div>
  <div class="container"></div>
  <div class="modal-body">
    <div>
      <form class="d-flex col-12">
        <div class="row col-6 d-flex justify-content-center">
          <p>Nueva contraseña:</p>
        </div>
        <div class="row col-6 d-flex justify-content-center">
          <input placeholder="Contraseña" id="Password" title="Escribe tu contraseña" class="form-control"
            autocomplete="off" type="password" [formControl]="pass">
        </div>
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="invalid">
          <div *ngIf="pass.errors?.required">
            Contraseña es requerido
          </div>
          <div *ngIf="pass.errors?.pattern" class="text-center">
            Mínimo 8 caracteres, debe Incluir al menos un número, una mayúscula,
            una minúscula y un carácter especial (@_-!¡?¿+*$%&),
            no debe incluir secuencias de 3 números consecutivos
          </div>
        </div>
        <div class="row col-6 d-flex justify-content-center">
          <p>Confirmar contraseña:</p>
        </div>
        <div class="row col-6 d-flex justify-content-center">
          <input placeholder="Confirmacion de contraseña" id="Password2" title="Ingresa nuevamente contraseña"
            class="form-control" autocomplete="off" type="password" [formControl]="passConfirm">
        </div>
        <div *ngIf="passConfirm.invalid && (passConfirm.dirty || passConfirm.touched)" class="invalid">
          <div *ngIf="passConfirm.errors?.notSame">
            Contraseñas no coinciden
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="modalService.close('password')" class="btn btn-light">Cerrar</a>
    <button class="btn btn-primary" (click)="savePass()" [disabled]="(pass.errors||passConfirm.errors)">Guardar cambios</button>
  </div>
</div>