<a class="waves-effect waves-light margin" [ngClass]="rla.isActive?'':'pointer hover simple'" #rla="routerLinkActive"
  [routerLinkActive]="['disabled']" *ngFor="let tab of tabs" [routerLink]="[tab.link]">{{tab.label}}</a>
<div class="spacer"></div>
<div class="input-group" *ngIf="enableSearch">
  <input placeholder="{{busquedaLabel}}" class="search form-control" type="text" autocomplete="off"
    [formControl]="searchFormControl">
  <div class="input-group-append" *ngIf="enableSearchFilters">
    <a class="btn btn-outline-secondary" (click)="trigger('filters')">
      <i class="bi bi-filter"></i>
      <span *ngIf="searchFiltersCount && searchFiltersCount > 0" class="badge badge-light">{{searchFiltersCount}}</span>
    </a>
  </div>
</div>
<ng-container *ngFor="let item of buttons">
  <ng-container *ngIf="!!item.grants">
    <a class="btn btn-outline-primary wg" *grant="item.grants" (click)="trigger(item.action)">
      <i class="bi {{item.icon}}"></i>
    </a>
  </ng-container>
  <ng-container *ngIf="!item.grants">
    <a class="btn btn-outline-primary ng" (click)="trigger(item.action)">
      <i class="bi {{item.icon}}"></i>
    </a>
  </ng-container>
</ng-container>