/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap";
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "~ngx-toastr/toastr";
@import "~drawflow/dist/drawflow.min.css";

$background: #ffff;
$pri: #001a68;
$sec: #039afe;
$grisc: #bababa;
$griso: #6d7278;
$particleSize: 30vmin;
$animationDuration: 6s;
$amount: 10;
$valido: #5cb85c;
$invalido: #e0ad4e;

html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0px;
  overscroll-behavior-x: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro";

  .container-fluid {
    z-index: 1;
    color: $pri;
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }

  .page-footer {
    width: 100%;
    padding-top: 0px;
    background-color: transparent;
    font-family: "Source Sans Pro";
    z-index: 1;
    .footer-copyright {
      color: $pri;
      .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    position: absolute;
    height: 70%;
  }

  .sup {
    top: 0;
    right: 0;
  }

  .infer {
    bottom: 0;
    left: 0;
  }
}

.container-fluid {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.card {
  .card-body {
    display: flex;
    flex-direction: column;
  }
}

a {
  text-decoration: none !important;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

button.btn,
a.btn {
  border-radius: 20px;
  // color: #0275d8;
  // background-color: #ffffff;
  // border: 1px #0275d8 solid;
}

.pointer {
  cursor: pointer;
}

.invalid {
  color: #e0ad4e;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.hover:not(.simple) {
  box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 transparent inset;
  transition: all 0.3s ease-in;
}

.hover:not(.simple):hover {
  color: $pri;
  transition: all 0.3s ease-out;
  box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 $pri inset;
}

.hover.simple {
  background: linear-gradient(to right, $pri, $pri 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #001a68 !important;
}

.hover.simple:hover {
  background-position: 0 100%;
}

.disabled {
  color: $griso;
}

.datatable-header-cell {
  background-color: #e5e5f8;
  color: #001a68;
}

.ngx-datatable.bootstrap .datatable-body {
  color: black;
}
// datatable-body-cell-label


.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even:not(.active) {
  background-color: transparent;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row:not(.active) {
  select {
    border: none;
    background: transparent;
  }
}

.ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  background-color: rgba(238, 238, 238, 0.459);
  color: black;
  text-shadow: black 1px 0 0px;
  transition-property: background color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.ngx-datatable.bootstrap .datatable-body .empty-row {
  text-align: center;
}

.ngx-datatable.bootstrap .datatable-footer {
  background: transparent;
  color: #001a68;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  color: #001a68;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: #007bff;
  color: white;
}

.ngx-datatable.bootstrap .datatable-body .progress-linear {
  display: block;
  position: relative;
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0;
  position: absolute;
}
.ngx-datatable.bootstrap .datatable-body .progress-linear .container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5px;
  -webkit-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  background-color: #aad1f9;
  max-width: 100%;
}
.ngx-datatable.bootstrap .datatable-body .progress-linear .container .bar {
  transition: all 0.2s linear;
  -webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  background-color: #106cc8;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}
/**
 * Progress bar animations
 */
@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(0.3, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}

.ng-touched.ng-invalid:not(.form, .card) {
  border: 1px solid red;
}
.ng-untouched.ng-invalid:not(.form) + small,
.ng-touched.ng-valid:not(.form) + small,
.ng-untouched.ng-valid:not(.form) + small,
.ng-untouched.ng-invalid:not(.form) + dp-date-picker + small,
.ng-touched.ng-valid:not(.form) + dp-date-picker + small,
.ng-untouched.ng-valid:not(.form) + dp-date-picker + small {
  visibility: hidden;
  display: none !important;
}

.ng-touched.ng-invalid:not(.form) + dp-date-picker + small {
  margin-top: -20px;
}



/* Editing Drawflow */

.drawflow {
  min-height: 50vh;
}

@keyframes dashdraw {
  0% {
    stroke-dashoffset: 40;
  }
}

.drawflow .connection .main-path {
  stroke: #4ea9ff;
  stroke-width: 5px;
  stroke-dasharray: 20;
  animation: dashdraw 3s linear infinite;
}

.drawflow .drawflow-node {
  width: 200px;
  background: #e5e5f8;
}

.drawflow .drawflow-node:not(.selected) {
  .inputs-box {
    input {
      border: 0;
      margin: 3px;
      background: transparent;
    }
  }
}

.drawflow .drawflow-node.selected {
  background: #4ea9ff;
  .inputs-box {
    input {
      margin: 1px;
    }
  }
}

.drawflow .drawflow-node .input:hover,
.drawflow .drawflow-node .output:hover {
  background: #4ea9ff;
}

.drawflow > .drawflow-delete {
  border: 2px solid #43b993;
  background: white;
  color: #43b993;
  -webkit-box-shadow: 0 2px 20px 2px #43b993;
  box-shadow: 0 2px 20px 2px #43b993;
  line-height: 25px;
}

.drawflow-delete {
  border: 2px solid #4ea9ff;
  background: white;
  color: #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
  line-height: 25px;
}

.drawflow-node .title-box {
  height: 50px;
  line-height: 50px;
  background: var(--background-box-title);
  border-bottom: 1px solid #e9e9e9;
  border-radius: 4px 4px 0px 0px;
  padding-left: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.drawflow .title-box svg {
  position: initial;
}

.drawflow-node .box p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.drawflow-node.welcome {
  width: 250px;
}

.drawflow-node.slack .title-box {
  border-radius: 4px;
}

.drawflow .connection .point {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: #4ea9ff;
  transform: translate(-9999px, -9999px);
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
  fill: #4ea9ff;
}
