<nav class="navbar navbar-light bg-light">

  <img class="logo navbar-brand" src="/assets/img/logo-yucatan.svg" [routerLink]="['/menu']" alt="Logo Yucatán" />
  <span class="color primary title">{{title}}</span>
  <div>
    <a [routerLink]="['/menu']" class="btn btn-light"><i class="bi bi-house"></i></a>
    <a [routerLink]="['/logout']" class="btn btn-light"><i class="bi bi-box-arrow-right"></i></a>
  </div>
</nav>