<app-header [title]="'Solicitudes'"></app-header>
<app-toolbar [buttons]="buttons" [enableSearch]="true" [enableSearchFilters]="true"
  [searchFiltersCount]="searchFiltersCount" (action)="handleAction($event)" (search)="handleSearch($event)">
</app-toolbar>