<re-captcha #captchaRef="reCaptcha" (resolved)="$event && doLogin($event)"></re-captcha>
<img class="login-logo" src="/assets/img/logo-yucatan.svg" alt="Logo Yucatán" />
<h3 class="m-bottom">Beneficiarios únicos</h3>
<div class="card mostrar" [hidden]="showRecover" id="r-login">
  <div class="card-body">
    <img src="{{step==0?'/assets/img/candado-pc.svg':'/assets/img/correcto-pc.svg'}}" alt="Login logo"
      class="login-logo" />
    <span class="card-title grey-text text-darken-4">
      <h4 class="login-text">{{step==0?'Iniciar Sesión':'Te damos la bienvenida'}}</h4>
    </span>
    <div [hidden]="step!=0">
      <label id="label">Para verificar tu identidad:</label>
      <input placeholder="Escribe tu usuario" id="user" [formControl]="user"
        (keypress)="_keyPress($event)" (keyup.enter)="user.errors?'':sigBtn()" autocomplete="off" type="text"
        class="form-control">
      <div class="col-6 form-check ml-3 mt-3">
        <input type="checkbox" class="form-check-input" id="sesion-activa" (change)="onChange($event)"
          [checked]="sesionActiva">
        <label class="form-check-label small" for="SesionActiva">Recordar contraseña</label>
      </div>
      <div class="col-12 mt-2 text-right">
        <button id="btn" class="siguiente btn btn-primary" [disabled]="user.errors" (click)="sigBtn()">
          Siguiente <i class="bi bi-arrow-right"></i> </button>
      </div>
    </div>
    <div [hidden]="step!=1">
      <label id="label">Para continuar:</label>
      <input placeholder="Escribe tu contraseña" id="pass" (keyup.enter)="pass.errors?'':captchaRef.execute()"
        [formControl]="pass" autocomplete="off" type="password" class="form-control" title="Escribe tu contraseña">
      <div class="col-6 form-check ml-3 mt-3">
        <input type="checkbox" class="form-check-input" id="sesion" (change)="onChange($event)"
          [checked]="sesionActiva">
        <label class="form-check-label small" for="SesionActiva">Recordar contraseña</label>
      </div>

      <div class="col-12 mt-2 text-right">
        <button id="btn" class="siguiente btn btn-light" (click)="prevBtn()">
          <i class="bi bi-arrow-left"></i> </button>

        <button id="btn" class="siguiente btn btn-primary" (click)="captchaRef.execute()" [disabled]="pass.errors">
          Siguiente <i class="bi bi-arrow-right"></i> </button>
      </div>
    </div>
    <div class="text-center mt-3">
      <a id="recuperar" class="pointer activator centrar" (click)="mostrarRecuperar()">Recuperar contraseña</a>
    </div>
  </div>
</div>
<div class="card" [hidden]="!showRecover" id="r-pass">
  <div class="card-body">
    <div class="row mt-2">
      <div class="col-12 d-flex text-center justify-content-center">
        <h4 class="login-text text-darken-4">Recuperar contraseña</h4>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 text-center mt-2">
        <span>Para validar tu identidad:</span>
      </div>
    </div>
    <div class="row mt-2 ">
      <div class="col-12 mt-2 text-center justify-content-center">
        <input placeholder="Escribe tu email" [formControl]="mail" type="email" class="form-control">
      </div>
    </div>
    <div class="row mt-3 d-flex justify-content-between">
      <button id="back" class="btn btn-outline-secondary col-4 ml-3" (click)="mostrarRecuperar()">
        <i class="bi bi-arrow-left"></i> Regresar </button>
      <button id="recup" class="btn btn-primary col-4  mr-3" (click)="captchaRef.execute()" [disabled]="mail.errors">
        Recuperar <i class="bi bi-arrow-right"></i> </button>
    </div>
  </div>
</div>
<div class="bottom-spacer"></div>