<div class="modal-content">
  <div class="modal-header">
    <div class="row" style="width: 100%;">
      <div class="col-9 d-flex justify-content-start">
        <h4 id="selected-title" class="modal-title">{{modalData=='new'?'Nuevo':(modalData=='edit'?'Editar':'Clonar')}}
          rol</h4>
      </div>
    </div>
  </div>

  <form id="userForm" class="form" [formGroup]="dynamicForm">
    <div class="modal-body ">
      <!--Row 1-->
      <div class="row d-flex justify-content-between">
        <div class="col-8 justify-content-center form-group">
          <label for="Nombre">Nombre</label>
          <input placeholder="Nombre" class="form-control" formControlName="Nombre" autocomplete="off" type="text">
          <small class="form-text text-muted">Es requerido</small>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <div>
            <input type="checkbox" class="form-check-input" formControlName="Activo">
            <label class="form-check-label">Activo</label>
          </div>
        </div>
      </div>
      <!--Row 2-->
      <div class="row d-flex justify-content-between">
        <div class="col-12 justify-content-center mb-1">
          <label for="Descripcion">Descripción</label>
          <textarea placeholder="Descripción" class="form-control" formControlName="Descripcion" style="resize: none;"
            rows="4"></textarea>
          <small class="form-text text-muted">Es requerido</small>
        </div>
      </div>

      <tabs>
        <tab [tabTitle]="'Permisos'">
          <div [formGroupName]="'RolPermisos'" class="d-flex flex-column align-items-end">
            <input placeholder="Buscar permiso" class="search form-control mb-1 col-4" type="text" autocomplete="off"
              [formControl]="searchPermisoFormControl">
            <div class="card flex-fill flex-grow-1 w-100" *ngFor="let seccion of permisosSecciones">
              <div class="card-header">
                <h5 class="mb-0">
                  <button (click)="collapsible.classList.toggle('show')" class="btn btn-link">
                    {{seccion}}
                  </button>
                </h5>
              </div>
              <div #collapsible class="collapse">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <th style="width:10%"></th>
                      <th style="width:20%">Permiso</th>
                      <th style="width:30%">Descripción</th>
                      <th style="width:30%">Siglas</th>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of getSeccionControls(seccion)">
                        <tr [formGroup]="item" [ngClass]="{'hidden': (!shouldDisplayPermiso(item.item))}" class="list">
                          <td>
                            <label class="small">
                              <input class="custom-select" formControlName="IdPermiso" type="text"
                                class="hidden role-item" />
                              <input class="custom-select" formControlName="Activo" type="checkbox" class="role-item" />
                              <span></span>
                            </label>
                          </td>
                          <td>{{item.item.Nombre}}</td>
                          <td>{{item.item.Descripcion}}</td>
                          <td>{{item.item.Siglas}}</td>
                        </tr>
                      </ng-container>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab [tabTitle]="'Usuarios'">
          <div [formGroupName]="'RolUsuarios'" class="d-flex flex-column align-items-end flex-grow-1 w-100">
            <input placeholder="Buscar usuario" class="search form-control mb-1 col-4" type="text" autocomplete="off"
              [formControl]="searchRolFormControl">
            <table class="table">
              <thead>
                <th style="width:10%"></th>
                <th style="width:20%">Usuario</th>
                <th style="width:30%">Nombre</th>
                <th style="width:30%">Entidad operativa</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of rolesFormArr">
                  <tr [formGroup]="item" [ngClass]="{'hidden': (!shouldDisplayRol(item.item))}" class="list">
                    <td>
                      <label class="small">
                        <input class="custom-select" formControlName="IdUsuario" type="text" class="hidden role-item" />
                        <input class="custom-select" formControlName="Activo" type="checkbox" class="role-item" />
                        <span></span>
                      </label>
                    </td>
                    <td>{{item.item.Usuario}}</td>
                    <td>{{item.item.Nombre}} {{item.item.Apaterno}} {{item.item.Amaterno}}</td>
                    <td>
                      <ng-container *ngIf="(catalogService.getCatalogValue('entidades-operativas', item.item.IdEntidadOperativa) | async) as entidad">
                        {{entidad.Nombre}}
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </tab>
      </tabs>
      <div class="modal-footer w-100">
        <a class="btn btn-light" (click)="modalService.close(this)">Cerrar</a>
        <button class="btn btn-primary" type="submit" [ngClass]="{'btn-warning': dynamicForm.status=='INVALID'}"
          (click)="save()">Guardar</button>
      </div>
    </div>
  </form>

</div>