<div class="modal-content">
  <div class="modal-header">
    <div class="row" style="width: 100%;">
      <div class="col-9 d-flex justify-content-start">
        <h4 id="selected-title" class="modal-title">Configurar programa {{extraData?.Nombre}}</h4>
      </div>
    </div>
  </div>
  <form id="userForm" class="form" [formGroup]="dynamicForm">
    <div class="modal-body ">
      <tabs>
        <tab [tabTitle]="'Etapas'">
          <div [formGroupName]="'Etapas'" class="form d-flex flex-column align-items-end">
            <div class="col-12 d-flex justify-content-center align-items-center mb-1">
              <div class="d-flex col-6 border-right">
                <div class="col-6 justify-content-center form-group">
                  <label for="Nombre">Nombre etapa</label>
                  <input placeholder="Nombre" class="form-control" [formControl]="n" autocomplete="off" type="text">
                </div>
                <div class="col-4 justify-content-center form-group">
                  <label for="Siglas">Siglas</label>
                  <input placeholder="Siglas" class="form-control" [formControl]="s" autocomplete="off" type="text">
                </div>
                <div class="d-flex row col-2 align-items-center justify-content-end">
                  <a class="btn btn-outline-primary ml-1" (click)="addNew()"><i
                      class="bi bi-plus-square-dotted"></i></a>
                </div>
              </div>
              <div class="d-flex col-3"></div>
              <div class="d-flex col-3 d-flex row justify-content-end align-items-end">
                <a class="btn btn-outline-primary ml-1" (click)="downloadImage()"> <i
                    class="bi bi-arrow-bar-down"></i></a>
                <a class="btn btn-outline-primary ml-1" (click)="editor.zoom_in()"> <i class="bi bi-zoom-in"></i></a>
                <a class="btn btn-outline-primary ml-1" (click)="editor.zoom_out()"> <i class="bi bi-zoom-out"></i></a>
              </div>
            </div>
            <div id="drawflow"></div>
          </div>
        </tab>
        <tab
          *ngIf="authorizationService.isValid([{ grant: 'PPermisos', aux: extraData?.Clave }, 'administracion.programas']) | async"
          [tabTitle]="'Usuarios operativos'">
          <div [formGroupName]="'UsuarioConfiguracionProgramas'"
            class="d-flex flex-column align-items-end flex-grow-1 w-100">
            <input placeholder="Buscar usuario" class="search form-control mb-1 col-4" type="text" autocomplete="off"
              [formControl]="searchRolFormControl">
            <table class="table">
              <thead>
                <th style="width:10%"></th>
                <th style="width:20%">Usuario</th>
                <th style="width:30%">Nombre</th>
                <th style="width:30%">Entidad operativa</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of usersFormArr">
                  <tr *ngIf="item.item" [formGroup]="item" [ngClass]="{'hidden': (!shouldDisplayRolUsuario(item.item))}"
                    class="list">
                    <td>
                      <label class="small">
                        <input class="custom-select" formControlName="IdUsuario" type="text" class="hidden role-item" />
                        <input class="custom-select" formControlName="Activo" type="checkbox" class="role-item" />
                        <span></span>
                      </label>
                    </td>
                    <td>{{item.item?.Usuario}}</td>
                    <td>{{item.item?.Nombre}} {{item.item?.Apaterno}} {{item.item?.Amaterno}}</td>
                    <td>
                      <ng-container
                        *ngIf="(catalogService.getCatalogValue('entidades-operativas', item.item?.IdEntidadOperativa) | async) as entidad">
                        {{entidad.Nombre}}
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </tab>
        <tab [tabTitle]="'Requisitos de programa'">
          <div [formGroupName]="'ProgramaRequisitos'" class="form d-flex flex-column align-items-end">
            <app-toolbar [buttons]="buttonsRequisitos" [enableSearch]="true" [busquedaLabel]="'Buscar requisito'"
              (action)="handleRequisitoAction($event)" (search)="handleRequisitoSearch($event)">
            </app-toolbar>
            <table class="table">
              <thead>
                <th style="width:10%">Clave</th>
                <th style="width:20%">Nombre</th>
                <th style="width:20%">Tipo</th>
                <th style="width:20%">Obligatorio</th>
                <th style="width:30%">Etapa de solicitud</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of programaRequisitos.list">
                  <tr *ngIf="!!item.Activo"
                    [ngClass]="{'hidden': (!shouldDisplayRequisitos(item)), 'selected': item==selectedRequisito}"
                    class="list" (click)="selected(item)">
                    <td>{{item.Clave}} </td>
                    <td>{{item.Nombre}}</td>
                    <td>
                      <ng-container
                        *ngIf="(catalogService.getCatalogValue('tipo-requisito', item.IdTipoRequisito) | async) as entidad">
                        {{entidad.Nombre}}
                      </ng-container>
                    </td>
                    <td>{{item.Obligatorio ? 'Si' : 'No'}}</td>
                    <td>{{processEtapaLabel(item.Etapa?.Nombre)}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </tab>
        <tab [tabTitle]="'Asignación etapas'">
          <div [formGroupName]="'UsuarioConfiguracionProgramas'" class="d-flex flex-column align-items-end">
            <table class="table">
              <thead>
                <th style="width:10%">Usuario</th>
                <th style="width:10%" *ngFor="let item of nodesListForSelect">
                  <div class="col-12" style="text-align: center;">
                    {{item.Nombre}}
                  </div>
                </th>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of usersFormArr">
                  <tr *ngIf="item.value?.Activo" [formGroup]="item" class="list">
                    <td>
                      <label class="small">
                        <input class="custom-select" formControlName="IdUsuario" type="text" class="hidden role-item" />
                        <span>{{item.item?.Usuario}}</span>
                      </label>
                    </td>
                    <td [formGroup]="item.controls.UsuarioConfiguracionEtapas" *ngFor="let node of nodesListForSelect">
                      <div class="col-12">
                        <input type="checkbox" class="form-check-input col-12" alt="{{node.Nombre}}"
                          [formControlName]="configFormControlControl(item, node.Nombre)">
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </tab>
      </tabs>
      <div class="modal-footer w-100">
        <a class="btn btn-light" (click)="modalService.close(this)">Cerrar</a>
        <button class="btn btn-primary" type="submit"
          [ngClass]="{'btn-warning': dynamicForm.status=='INVALID'||etapasInValid.length}"
          (click)="save()">Guardar</button>
      </div>
    </div>
  </form>

</div>
<app-modal id="new-requisito" [dynComponent]="programaRequisitoModalComponent" [modalData]="'new'"></app-modal>
<app-modal id="edit-requisito" [dynComponent]="programaRequisitoModalComponent" [modalData]="'edit'"></app-modal>
<app-modal id="delete-requisito" [dynComponent]="confirmModalComponent"
  [modalData]="{title:'Desactivar', message: '¿Desea desactivar el item seleccionado?'}"></app-modal>