#drawflow {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  background-size: 25px 25px;
  background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

.btn {
  border-radius: 0.25rem;
}

.selected {
  background-color: rgba(238, 238, 238, 0.459);
  text-shadow: 0 0 black;
}
