:host {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.login-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 9vmin;
}

.login-text {
  margin-bottom: 1rem;
  text-align: center;
}

.card {
  width: 90%;
  max-width: 450px;
}

.siguiente {
  margin: 10px;
  align-self: flex-end;
}

.row-down {
  width: 100%;
  display: flex;
  flex-direction: revert;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mostrar {
  display: block;
  align-items: center;
}

.ocultar {
  display: none;
}

.centrar {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
