<re-captcha #captchaRef="reCaptcha" (resolved)="$event && doRecover($event)"></re-captcha>
<img class="login-logo" src="/assets/img/logo-yucatan.svg" alt="Logo Yucatán" />
<h3 class="m-bottom">Beneficiarios únicos</h3>
<div class="card mostrar" id="r-login">
  <div class="card-body">
    <img src="/assets/img/candado-pc.svg" alt="Login logo"
      class="login-logo" />
    <span class="card-title grey-text text-darken-4">
      <h4 class="login-text">Reestablecer contraseña</h4>
    </span>
    <form class="d-flex row justify-content-center">
      <div class="row col-12 d-flex justify-content-center">
        <p>Nueva contraseña:</p>
      </div>
      <div class="row col-12 d-flex justify-content-center">
        <input placeholder="Contraseña" id="Password" title="Escribe tu contraseña" class="form-control"
          autocomplete="off" type="password" [formControl]="pass">
      </div>
      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="invalid">
        <div *ngIf="pass.errors?.required">
          Contraseña es requerido
        </div>
        <div *ngIf="pass.errors?.pattern" class="text-center">
          Mínimo 8 caracteres, debe Incluir al menos un número, una mayúscula,
          una minúscula y un carácter especial (@_-!¡?¿+*$%&),
          no debe incluir secuencias de 3 números consecutivos
        </div>
      </div>
      <div class="row col-12 d-flex justify-content-center">
        <p>Confirmar contraseña:</p>
      </div>
      <div class="row col-12 d-flex justify-content-center">
        <input placeholder="Confirmacion de contraseña" id="Password2" title="Ingresa nuevamente contraseña"
          class="form-control" autocomplete="off" type="password" [formControl]="passConfirm">
      </div>
      <div *ngIf="passConfirm.invalid && (passConfirm.dirty || passConfirm.touched)" class="invalid">
        <div *ngIf="passConfirm.errors?.notSame">
          Contraseñas no coinciden
        </div>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <a id="btn" class="btn btn-light mt-3" [routerLink]="['/login']">
          <i class="bi bi-arrow-left"></i> </a>
        <button class="btn btn-primary ml-2 mt-3" (click)="captchaRef.execute()"  [disabled]="(pass.errors||passConfirm.errors)">Actualizar contraseña</button>
      </div>
    </form>
  </div>
</div>
<div class="bottom-spacer"></div>
