<img class="logo ml-3 mt-3 mb-3" src="/assets/img/logo-yucatan.svg" alt="Logo Yucatán" />
<h2 class="dash ">Plataforma de beneficiarios únicos<a class="menu waves-effect waves-light"></a></h2>
<div>
  <button type="button" class="btn btn-primary mr-3" (click)="modalService.open('configuracion')">
    Configuración de cuenta
  </button>
  <button type="button" class="btn btn-light" [routerLink]="['/logout']">
    Cerrar sesión
  </button>
</div>
<div id="btn-cont" class="btns">
</div>
<div class="items">
  <div *grant="['administracion.programas']" class="card">
    <div class="card-content ml-3 mt-3 mb-3">
      <a class="card-title normal">Programas</a>
      <div>
        <a class="hover simple pointer" *grant="['administracion.programas.ver','PConsulta','PDesactivar','PEdicion','PEstatus','PPermisos']" [routerLink]="['/programas']">Beneficios</a>
      </div>
    </div>
  </div>
  <div *grant="['administracion.solicitudes']" class="card">
    <div class="card-content ml-3 mt-3 mb-3">
      <a class="card-title normal">Solicitudes</a>
      <div>
        <a class="hover simple pointer disabled" [routerLink]="['/solicitudes']" aria-disabled="true" disabled>Ver
          solicitudes</a>
      </div>
    </div>
  </div>
  <div *grant="['administracion.usuarios', 'administracion.roles']" class="card">
    <div class="card-content ml-3 mt-3 mb-3">
      <a class="card-title normal">Administración</a>
      <div>
        <a class="hover simple pointer" *grant="['administracion.usuarios.ver']" [routerLink]="['/usuarios']">Usuarios</a>
        <a class="hover simple pointer" *grant="['administracion.roles.ver']" [routerLink]="['/roles']">Roles y permisos</a>
      </div>
    </div>
  </div>
</div>
<div class="bottom-spacer"></div>

<app-modal id="configuracion" [dynComponent]="configuracionComponent"></app-modal>