:host {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.logo {
  height: 9vmin;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: auto;
  .card {
    margin: 15px;
    max-width: 350px;
    min-width: 225px;
    flex-grow: 1;
    .card-title {
      color: #001a68;
    }

    .card-content > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
