<div class="modal-content">
  <div class="modal-header">
    <div class="row" style="width: 100%;">
      <div class="col-9 d-flex justify-content-start">
        <h4 id="selected-title" class="modal-title">{{modalData=='new'?'Nuevo':(modalData=='edit'?'Editar':'Clonar')}} usuario</h4>
      </div>
    </div>
  </div>

  <form id="userForm" class="form" [formGroup]="dynamicForm">
    <div class="modal-body ">
      <!--Row 1-->
      <div class="row d-flex justify-content-between">
        <div class="col-4 justify-content-center form-group">
          <label for="Nombre">Nombre</label>
          <input placeholder="Nombre" class="form-control" formControlName="Nombre" autocomplete="off" type="text">
          <small class="form-text text-muted">Es requerido</small>
        </div>
        <div class="col-4 justify-content-center form-group">
          <label for="Apaterno">Apellido paterno</label>
          <input placeholder="Apellido paterno" class="form-control" formControlName="Apaterno" autocomplete="off"
            type="text">
          <small class="form-text text-muted">Es requerido</small>
        </div>
        <div class="col-4 justify-content-center form-group">
          <label for="Amaterno">Apellido materno</label>
          <input placeholder="Apellido materno" class="form-control" formControlName="Amaterno" autocomplete="off"
            type="text">
          <small class="form-text text-muted">Es requerido</small>
        </div>
      </div>
      <!--Row 2-->
      <div class="row d-flex justify-content-between">
        <div class="col-4 justify-content-center form-group">
          <label for="Usuario">Usuario</label>
          <input placeholder="Usuario" (keypress)="_keyPress($event)" formControlName="Usuario" class="form-control"
            autocomplete="off" type="text">
          <small class="form-text text-muted">Es requerido, acepta caracteres alfanuméricos, y debe empezar con una
            letra</small>
        </div>
        <div class="col-8 justify-content-center form-group">
          <label for="Correo">Correo</label>
          <input placeholder="Correo electrónico" formControlName="Correo" autocomplete="off" type="email"
            class="form-control correo">
          <small class="form-text text-muted">Es requerido</small>
        </div>
      </div>
      <!--Row 3-->
      <div class="row d-flex justify-content-between">
        <div class="col-4 justify-content-center form-group">
          <label for="Password">Contraseña</label>
          <input placeholder="Contraseña" formControlName="Password" title="Escribe tu contraseña"
            class="form-control" autocomplete="off" type="password">
            <small class="form-text text-muted">Es requerido, mínimo 8 caracteres incluira al menos un número, una mayúscula,
              una minúscula y un carácter especial (@_-!¡?¿+*$%&), sin secuencias de 3 números consecutivos</small>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <div>
            <input type="checkbox" class="form-check-input" formControlName="Vigencia">
            <label class="form-check-label" for="SesionActiva">Vigencia de contraseña</label>
          </div>
        </div>
        <div *ngIf="c['Vigencia'].value" class="col-4 justify-content-center form-group">
          <label for="Periodicidad">Periodicidad</label>
          <div class="d-flex">
            <input placeholder="Periodicidad" formControlName="DiasVigencia" class="form-control" value="1" min="1"
              autocomplete="off" type="number">
            <span class="input-group-text" id="basic-addon2">Días</span>
          </div>
        </div>
      </div>
      <!--Row 4-->
      <div class="row d-flex justify-content-between">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <div>
            <input type="checkbox" class="form-check-input" formControlName="Activo">
            <label class="form-check-label">Activo</label>
          </div>
        </div>
        <div class="col-4 justify-content-center form-group">
          <label for="EntidadOperativa">Entidad operativa</label>
          <select class="custom-select" formControlName="IdEntidadOperativa"
            error-msg="La entidad operativa es requerida">
            <option value>Selecciona una opción</option>
            <ng-container *ngIf="(catalogService.getCatalog('entidades-operativas') | async) as catalog">
              <option *ngFor="let item of catalog" [value]="item.Clave">{{item.Nombre}}</option>
            </ng-container>
          </select>
          <small class="form-text text-muted">Es requerido</small>
        </div>
        <div class="col-4 justify-content-center form-group"></div>
      </div>

      <tabs>
        <tab [tabTitle]="'Roles'">
          <div [formGroupName]="'RolUsuarios'" class="d-flex flex-column align-items-end flex-grow-1 w-100">
            <input placeholder="Buscar rol" class="search form-control mb-1 col-4" type="text" autocomplete="off"
              [formControl]="searchRolFormControl">
            <table class="table">
              <thead>
                <th style="width:10%"></th>
                <th style="width:20%">Clave</th>
                <th style="width:30%">Nombre</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of rolesFormArr">
                  <tr [formGroup]="item" [ngClass]="{'hidden': (!shouldDisplayRol(item.item))}" class="list">
                    <td>
                      <label class="small">
                        <input class="custom-select" formControlName="IdRol" type="text" class="hidden role-item" />
                        <input class="custom-select" formControlName="Activo" type="checkbox" class="role-item" />
                        <span></span>
                      </label>
                    </td>
                    <td>{{item.item.Clave}}</td>
                    <td>{{item.item.Nombre}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </tab>
        <tab [tabTitle]="'Permisos'">
          <div [formGroupName]="'UsuarioPermisos'" class="d-flex flex-column align-items-end">
            <input placeholder="Buscar permiso" class="search form-control mb-1 col-4" type="text" autocomplete="off"
              [formControl]="searchPermisoFormControl">
            <div class="card flex-fill flex-grow-1 w-100" *ngFor="let seccion of permisosSecciones">
              <div class="card-header">
                <h5 class="mb-0">
                  <button (click)="collapsible.classList.toggle('show')" class="btn btn-link">
                    {{seccion}}
                  </button>
                </h5>
              </div>
              <div #collapsible class="collapse">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <th style="width:10%"></th>
                      <th style="width:20%">Permiso</th>
                      <th style="width:30%">Descripción</th>
                      <th style="width:30%">Siglas</th>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of getSeccionControls(seccion)">
                        <tr [formGroup]="item" [ngClass]="{'hidden': (!shouldDisplayPermiso(item.item))}" class="list">
                          <td>
                            <label class="small">
                              <input class="custom-select" formControlName="IdPermiso" type="text"
                                class="hidden role-item" />
                              <input class="custom-select" formControlName="Activo" type="checkbox" class="role-item" />
                              <span></span>
                            </label>
                          </td>
                          <td>{{item.item.Nombre}}</td>
                          <td>{{item.item.Descripcion}}</td>
                          <td>{{item.item.Siglas}}</td>
                        </tr>
                      </ng-container>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabs>
      <div class="modal-footer w-100">
        <a class="btn btn-light" (click)="modalService.close(this)">Cerrar</a>
        <button class="btn btn-primary" type="submit" [ngClass]="{'btn-warning': dynamicForm.status=='INVALID'}"
          (click)="save()">Guardar</button>
      </div>
    </div>
  </form>

</div>