<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">{{modalData?.title}}</h4>
  </div>
  <div class="container"></div>
  <div class="modal-body">
      <div>
          <form class="was-validated">
              <div class="row d-flex justify-content-center">
                  {{modalData?.message}}
              </div>
          </form>
      </div>
  </div>
  <div class="modal-footer">
      <a class="btn btn-light" (click)="this.modalService.close(this)">Cancelar</a>
      <a class="btn btn-primary" (click)="yes()">Guardar cambios</a>
  </div>
</div>