<div class="modal-content">
  <div class="modal-header">
    <div class="row" style="width: 100%;">
      <div class="col-9 d-flex justify-content-start">
        <h4 id="selected-title" class="modal-title">{{modalData=='new'?'Nuevo':(modalData=='edit'?'Editar':'Clonar')}}
          requisito</h4>
      </div>
    </div>
  </div>

  <form id="userForm" class="form" [formGroup]="dynamicForm">
    <div class="modal-body ">
      <!--Row 1-->
      <div class="row d-flex justify-content-between">
        <div class="col-4 justify-content-center form-group">
          <label for="Nombre">Nombre</label>
          <input placeholder="Nombre" class="form-control" formControlName="Nombre" autocomplete="off" type="text">
          <small class="form-text text-muted">Es requerido</small>
        </div>
        <div class="col-4 justify-content-center form-group">
          <label for="IdTipoRequisito">Tipo</label>
          <select class="custom-select" formControlName="IdTipoRequisito" error-msg="El tipo de requisito es requerido">
            <option value>Selecciona una opción</option>
            <ng-container *ngIf="(catalogService.getCatalog('tipo-requisito') | async) as catalog">
              <option *ngFor="let item of catalog" [value]="item.Clave">{{item.Nombre}}</option>
            </ng-container>
          </select>
          <small class="form-text text-muted">Es requerido</small>
        </div>
        <div class="col-4 justify-content-center form-group">
          <label for="EntidadOperativa">Etapa</label>
          <select class="custom-select" formControlName="IdEtapa" error-msg="La etapa es requerida">
            <option value>Selecciona una opción</option>
            <ng-container *ngIf="extraData.etapas as catalog">
              <option *ngFor="let item of catalog" [value]="item.Nombre">{{item.Nombre}}</option>
            </ng-container>
          </select>
          <small class="form-text text-muted">Es requerido</small>
        </div>
      </div>
      <!--Row 2-->
      <div class="row d-flex justify-content-between">
        <div class="col-8 justify-content-center mb-1">
          <label for="Descripcion">Descripción</label>
          <textarea placeholder="Descripción" class="form-control" formControlName="Descripcion" style="resize: none;"
            rows="4"></textarea>
          <small class="form-text text-muted">Es requerido</small>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <div>
            <input type="checkbox" class="form-check-input" formControlName="Obligatorio">
            <label class="form-check-label">Obligatorio</label>
          </div>
        </div>
      </div>

      <div class="modal-footer w-100">
        <a class="btn btn-light" (click)="modalService.close(this)">Cerrar</a>
        <button class="btn btn-primary" type="submit" [ngClass]="{'btn-warning': dynamicForm.status=='INVALID'}"
          (click)="save()">Guardar</button>
      </div>
    </div>
  </form>

</div>