<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">Configuracion de la cuenta</h4>
  </div>
  <div class="modal-body ">
      <div class="row pt-4">
          <div class="col-1">
          </div>
          <div class="col-8">
              <div class="row d-flex justify-content-start">
                  <h3>{{usuario}}</h3>
              </div>
              <div class="row d-flex justify-content-start">
                  <span>{{nombreUsuario}}</span>
              </div>
              <div class="row d-flex justify-content-start">
                  <span>{{emailUsuario}}</span>
              </div>

          </div>
      </div>
      <div class="row pt-4 d-flex justify-content-center">
          <a class="btn btn-primary" (click)="modalService.open('password')">Cambiar contraseña</a>
      </div>
  </div>
  <div class="modal-footer">
      <a (click)="modalService.close('configuracion')" class="btn btn-light">Cerrar</a>
  </div>
</div>

<app-modal id="password" [dynComponent]="passwordComponent" [modalData]="claveUsuario"></app-modal>